@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-weight: 200;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.castle {
  display: flex;
}

.castle__image {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/castle.jpg);
  background-size: contain;
}

.castle__body {
  margin-left: 2rem;
}

.candidate-list {
  display: flex;
  width: 50%; /* added */
  margin: 0 auto; /* added */
}

.candidate-list > * {
  width: 25%;
}

/* Budoucí komponenta Candidate */
.candidate {
  text-align: center;
  padding: 1rem;
}

.candidate__name {
  font-weight: normal;
  font-size: 1rem;
}

.candidate__avatar {
  width: 100%;
  height: auto;
}

.btn-vote {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #00ceba;
  cursor: pointer;
  outline: none;
  transition: 200ms;
}

.btn-vote:hover {
  background-color: #00b3a1;
  transform: scale(1.1);
}

.custom-candidate {
  margin-top: 2rem;
  text-align: center;
}